* {font-family: Verdana, Geneva, Tahoma, sans-serif;}


.choice-button {
    font-size: 1em;
    text-align: left;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(236, 217, 238);
    border-radius: 5px;}


button:hover {
    color: rgb(128, 5, 5);
    cursor: pointer;}


.project_cards {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;}


.medium_print_on_page {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;}


.large_print_on_page {
    text-align: center;}


h1 {
    font-weight: bold;
    background-color: #393637e8;
    color: #fff;
    padding: .5em;
    text-align: center;}


.timer {
    font-size: 1.5em;
    text-align: center;}


.content {
    margin: 0 auto;
    width: 600px;}


.quiz_area {
    text-align: center;}


.highScoreBox {
    text-align: center;}


.hidden {
    display: none;}


#scoreDisplayed {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-weight: 600;}


#leaderBoard {
    font-size: 26px;}


#players {
    font-size: 26px;}



.inputInitials {
    padding: 20px;}

/*KJR*/